.App {
  background: rgba(255, 255, 255, 0.95);
}

.App .hexagon_3 {
  position: absolute;
  width: 96px;
  height: 96px;
  left: 316px;
  top: 728px;
}

.App .hexagon_1 {
  position: absolute;
  width: 96px;
  height: 96px;
  left: 1032px;
  top: 72px;
}

.App .hexagon_gradient_3 {
  position: absolute;
  width: 432px;
  height: 432px;
  right: -176px;
  top: 598px;
}